/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: hsl(190, 100%, 28%);
  --ifm-color-primary-dark: hsl(190, 100%, 25%);
  --ifm-color-primary-darker: hsl(190, 100%, 24%);
  --ifm-color-primary-darkest: hsl(190, 100%, 20%);
  --ifm-color-primary-light: hsl(190, 100%, 31%);
  --ifm-color-primary-lighter: hsl(190, 100%, 32%);
  --ifm-color-primary-lightest: hsl(190, 100%, 36%);
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Nunito Sans', sans-serif;
  --ifm-heading-font-family: 'Poppins', sans-serif;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

.navbar__inner {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 16px;
}

.main-wrapper > div {
  max-width: 1800px;
  margin: 0 auto;
}

.footer {
  --ifm-footer-background-color: #37474f !important;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: hsl(188, 100%, 45%);
  --ifm-color-primary-dark: hsl(188, 100%, 41%);
  --ifm-color-primary-darker: hsl(188, 100%, 38%);
  --ifm-color-primary-darkest: hsl(188, 100%, 32%);
  --ifm-color-primary-light: hsl(188, 100%, 50%);
  --ifm-color-primary-lighter: hsl(188, 100%, 52%);
  --ifm-color-primary-lightest: hsl(188, 100%, 59%);
  --ifm-background-color: hsl(210, 29%, 10%) !important;
  --ifm-navbar-background-color: hsl(210, 28%, 15%) !important;
  --ifm-card-background-color: hsl(210, 28%, 15%) !important;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.navbar__title {
  font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

[data-theme=dark] .header-shop-link:before {
  background: url('/img/shop-dark.svg') no-repeat;
}

.header-shop-link:before {
  background: url('/img/shop.svg') no-repeat;
  content: "";
  display: flex;
  height: 20px;
  width: 22px;
}

[data-theme=dark] .header-discord-link:before {
  background: url('/img/discord-dark.svg') no-repeat;
}

.header-discord-link:before {
  background: url('/img/discord.svg') no-repeat;
  content: "";
  display: flex;
  height: 19px;
  width: 24px;
}

.tooltip-header {
  position: relative;
}

.tooltip-header::after {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 15px;
  visibility: hidden;
  position: absolute;
  text-align: center;
  z-index: 999;
  content: attr(data-tooltip);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 10px));
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  opacity: 0;
  transition: opacity 0.2s 0.5s ease;
}

[data-theme=dark] .tooltip-header::after {
  background-color: #455a64;
}

.tooltip-header:hover::after {
  visibility: visible;
  opacity: 1;
}

.keymap {
  width: 100%;
  height: auto;
}

[data-theme='light'] .keymap {
  fill: #eee !important;
}

[data-theme='dark'] .keymap {
  fill: rgb(36, 41, 46) !important;
}

[data-theme='light'] .keymap text {
  fill: rgb(36, 41, 46) !important;
}

[data-theme='dark'] .keymap text {
  fill: #eee !important;
}

[data-theme='light'] .keymap .held {
  fill: #e57373 !important;
}

[data-theme='dark'] .keymap .held {
  fill: #7f1d1d !important;
}

.keymap .tap {
  text-anchor: middle;
  dominant-baseline: middle;
}
